.navbar {
	background-color: #222222;
}

.navbar-brand {
	color: gold;
}

body {
	background-color: #222222;
}

#eventList {
	background-color: #F2F2F2;
}

#brandName {
	color: gold;
}

.projects {
	color: gold;
}